




* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
	

}
body {
	line-height: 1;
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
	body{
		margin: 1%;
		padding:1%;
		border: 2px solid black;
	}

	/* NAV BAR */
	nav {
		margin-top: 3%;
		text-align: center;
		word-spacing: 50px;
	}


	/*GREAT IDEA LOGO*/
	.logo {
		padding-left: 68%;
		
	}


	/*HEADER IMG H1*/
	.header-img {
		display: inline-block;
		padding-left: 58%;
		margin-top: 5%;	
	}

	/*DESCRIPTIONS AND MIDDLE IMAGE*/
	.innovation{
		display: inline-block;
		font-size: 35px;
		border: 2px solid black;
			
	}

	.features{
		display: inline-block;
		width: 35%;
		margin: 2%;
	}

	.about{
		display: inline-block;
		width: 35%;
	}

	.middle-img{
		display: inline-block;
		margin-left: 10%;
		margin: 1%;
	}

	.services{
		display: inline-block;
		width: 35%;



	}

	
	